.group-model {
  padding: 15px;
}

.model {
  padding: 10px;
  display: inline-block;
  min-width: 50%;
}

.sub-group-model .gender {
  text-align: center;
  font-weight: bold;
  width: auto;
  min-width: 180px;
}

.group-model .desc {
  text-align: center;
  font-weight: bold;
  width: auto !important;
}
