.group-model {
  padding: 15px;
}

.model {
  padding: 10px;
  display: inline-block;
  min-width: 50%;
}

.sub-group-model .gender {
  @apply tw-w-auto tw-text-center tw-font-bold;
}

.group-model .desc {
  @apply tw-w-full tw-text-center tw-font-bold;
}
