.card-select-disabled {
    background-color: #e9ecef;
    cursor: default !important;
}

.card-select-enabled {
    background-color: white;
    cursor: pointer !important;
}

.card-pokemon-input {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
}

.card-move-input {
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
}

.input-pokemon-select {
    background-size: auto 36px !important;
    border: none;
    height: 38px;
    outline: none;
    border-radius: 0;
}

.card-pokemon-select {
    width: 100%;
    border-top: 1px solid #ddd;
    padding-left: 23px;
    padding-right: 15px;
    cursor: pointer;
}

.card-pokemon-select:hover, .card-move:hover {
    background-color: lightgray;
}

.card-move {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.result-pokemon {
    text-align: start !important;
    position: absolute;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: max-content;
    max-height: 274px;
    overflow-y: auto;
    background-color: white;
}

.result-move-select {
    text-align: start !important;
    position: absolute;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: auto; /* 275px; */
    max-height: 180px;
    overflow-y: auto;
    background-color: white;
}

@media screen and (max-width: 420px) {
    .result-pokemon {
        max-width: 250px;
    }
}

@media screen and (max-width: 375px) {
    .result-pokemon {
        max-width: 230px;
    }
}