.sticker-detail {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid #b8d4da;
    padding: 5px;
}

.sticker-container {
    margin: 15px 0;
    border: 1px solid #b8d4da;
    max-height: 75vh;
    overflow-y: auto;
}

.sticker-container .sticker-group {
    padding: 10px;
}

.sticker-container h5 {
    position: sticky;
    top: 0;
    padding: 15px 0;
    background-color: #409ff1;
    color: #f1ffff;
    border-bottom: 1px solid #b8d4da;
    z-index: 2;
}

.sticker-container h5 span {
    margin-left: 15px;
}

.icon-shop {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 5px;
    background-color: orangered;
    border-radius: 50%;
}