.iv-bg-group {
    width: 99%;
    display: inline-flex;
    column-gap: 5px;
}

.iv {
    width: 33%;
}

.iv-bg-bar {
    height: 13px;
    background-color: lightgray;
}

.iv-bar {
    height: 13px;
    background-color: #ef911d;
}

.iv-first-child div {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.iv-last-child div {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.border-right-iv {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}