{
    "parser": "babel-eslint",
    "extends": ["airbnb"],
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
      "react/prop-types": 0,
      "@typescript-eslint/ban-ts-comment": 0
    }
}