# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist

# development
.vs
.github
.vscode

# production
/build

# firebase crash
/.firebase

# vercel crash
.vercel

# eslint crash
.eslintcache

# misc
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
