.evo-container {
  white-space: initial !important;

  @apply tw-text-center;
}

.ul-evo {
  @apply tw-m-0 tw-p-0;
}

.li-evo {
  @apply tw-mr-0 tw-h-full;
}

.select-evo {
  @apply tw-mb-2.5 tw-h-full tw-block;
}

.select-evo p {
  @apply tw-m-0 tw-h-[18px];
}

.select-evo:hover {
  @apply tw-cursor-pointer;
}

.select-evo b.link-title {
  color: #0d6efd !important;

  @apply tw-underline;
}

.tooltips-info {
  @apply tw-relative tw-inline-block tw-cursor-pointer;
}

.info-evo span {
  @apply tw-mb-[5px];
}

.info-evo span:last-child {
  @apply tw-mb-0;
}

.scroll-evolution {
  @apply tw-relative tw-whitespace-nowrap tw-overflow-x-auto;
}

.img-evo-container {
  -ms-flex-negative: 0;

  @apply tw-relative tw-inline-flex tw-align-middle tw-flex-shrink-0 tw-w-24;
}
