.evo-container {
    text-align: center;
    white-space: initial !important;
}

.ul-evo {
    margin: 0;
    padding: 0;
}

.li-evo {
    margin-bottom: 30px;
}

.select-evo {
    margin-bottom: 10px;
}

.select-evo:hover {
    cursor: pointer;
}

.select-evo b.link-title {
    color: #0d6efd;
    text-decoration: underline;
}

.tooltips-info {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.tooltips-info:hover .info-evo {
    visibility: visible;
}

.tooltips-info .info-evo {
    visibility: hidden;
    width: 260px;
    position: absolute;
    padding: 8px;
    background-color: blanchedalmond;
    z-index: 5;
    bottom: 100%;
    left: 50%;
    margin-left: calc(-260px/2);
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: auto !important;
}

.info-evo span {
    margin-bottom: 5px;
}

.info-evo span:last-child {
    margin-bottom: 0;
}

.tooltips-info .info-evo::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: blanchedalmond transparent transparent transparent;
}