.evo-container {
    text-align: center;
    white-space: initial !important;
}

.ul-evo {
    margin: 0;
    padding: 0;
}

.li-evo {
    margin-bottom: 30px;
}

.select-evo {
    margin-bottom: 10px;
}

.select-evo:hover {
    cursor: pointer;
}

.select-evo b.link-title {
    color: #0d6efd;
    text-decoration: underline;
}

.tooltips-info {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
}

.info-evo span {
    margin-bottom: 5px;
}

.info-evo span:last-child {
    margin-bottom: 0;
}

#popover-info-evo {
    background-color: cornsilk;
}

.scroll-evolution {
    position: relative;
    height: 180px !important;
    white-space: nowrap;
    overflow-x: auto;
}