.scroll-form {
  @apply tw-relative tw-whitespace-nowrap tw-overflow-x-auto;
}

.img-form-gender-group {
  @apply tw-align-top tw-inline-block tw-text-center tw-mr-[5%] tw-w-24 tw-h-[130px];

  .img-gender-group {
    @apply tw-w-full tw-h-24 tw-min-w-24;
  }
}


.btn-form:focus {
  box-shadow: 0 0 0 3px #64646466 !important;

  @apply tw-outline-none;
}
