.scroll-form {
  position: relative;
  height: 180px !important;
  white-space: nowrap;
  overflow-x: auto;
  display: inline-flex;
  column-gap: 10px;
}

.img-gender {
  filter: drop-shadow(3px 3px 3px #222222);
}

.img-form-gender-group {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 5%;
  width: 96px;
  height: 130px;
}

.btn-form {
  height: 142px;
  margin: 2px 0;
  border: 1px solid gray;
  background-color: #e1e1e1;
  color: black;
}

.form-selected {
  background-color: #969696 !important;
}

.btn-form:focus {
  border: 1px solid black;
  background-color: gray;
  outline: none;
  box-shadow: 0 0 0 3px rgb(100 100 100 / 40%) !important;
}

.btn-form:hover:not(.form-selected) {
  border: 1px solid black !important;
  background-color: #c8c8c8 !important;
  color: black;
}

.form-border {
  display: inline-block;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px 15px 0;
  margin-top: 5px;
  background-color: floralwhite;
}
