.scroll-form {
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  display: inline-flex;
  column-gap: 10px;
  margin: 10px 0;
}

.img-gender {
  filter: drop-shadow(3px 3px 3px #222222);
}

.img-form-gender-group {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 5%;
  width: 96px;
  height: 130px;

  .img-gender-group {
    width: 100%;
    height: 96px;
    min-width: 96px;
  }
}

.btn-form {
  min-height: 142px;
  margin: 2px 0;
  color: black;
}

.btn-form:focus {
  border: 1px solid black;
  outline: none;
  box-shadow: 0 0 0 3px #64646466 !important;
}

.btn-form:hover:not(.form-selected) {
  border: 1px solid black !important;
  color: black;
}

.form-border {
  display: inline-block;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px 15px 0;
  margin-top: 5px;
  background-color: floralwhite;
}
