.stats-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leader-text {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.attacker-text {
  left: 10px;
  top: 25%;
  transform: translateY(-25%);
}

.consistence-text {
  left: 10px;
  bottom: 25%;
  transform: translateY(25%);
}

.closer-text {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.charger-text {
  right: 20px;
  bottom: 25%;
  transform: translateY(25%);
}

.switch-text {
  right: 20px;
  top: 25%;
  transform: translateY(-25%);
}
