.contain-poke-best-league {
  margin: 10px;
}

.poke-best-league {
  padding: 10px;
}

.best-poke-desc {
  padding: 13px;
}

.best-name {
  padding: 0 5px;
}

.list-best-league li {
  padding-left: 2rem;
}

.border-best-poke {
  border: 1px solid lightgray;
}

.evo-item-desc {
  margin: 10px 5%;
}

.form-header {
  padding: 1rem 1.25rem;
  text-align: start;
  font-weight: bolder;
  background-color: lightgray;
}

.rank-max {
  color: red;
  background-color: #ecc8c8;
}

.rank-nice b,
.rank-nice div b {
  text-shadow: white 1px 1px;
}

.rank-max div b {
  text-shadow: white 1px 1px;
}

.rank-excellent {
  color: blueviolet;
  background-color: #ecc8ec;
}

.rank-excellent div b {
  text-shadow: white 1px 1px;
}

.rank-great {
  color: green;
  background-color: #c8ecc8;
}

.rank-great div b {
  text-shadow: white 1px 1px;
}

.rank-nice {
  color: orange;
  background-color: #ececc8;
}

.pokemon-best-league {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
