.four-star {
  @apply tw-bg-[#ffd7d7] tw-border tw-border-solid tw-border-red-600 tw-rounded-lg tw-m-2.5 tw-p-[5px];
}

.one-star,.three-star,.two-star {
  @apply tw-bg-[#ffffd7];
}

.one-star,.three-star,.two-star,.zero-star {
  @apply tw-border tw-border-solid tw-border-yellow-400 tw-rounded-lg tw-m-2.5 tw-p-[5px];
}
