.four-star {
  @apply tw-bg-[#ffffd7] tw-bg-red-600 tw-border tw-border-red-600 tw-rounded-lg tw-m-2.5 tw-p-[5px];
}

.one-star,.three-star,.two-star {
  @apply tw-bg-[#ffffd7];
}

.one-star,.three-star,.two-star,.zero-star {
  @apply tw-border tw-border-yellow-600 tw-rounded-lg tw-m-2.5 tw-p-[5px];
}
