.table-result td:nth-child(1) {
  width: 40% !important;
}

.battle-game {
  margin: 0;
  padding: 10px;
}

.border-window {
  padding: 15px;
}

.result-move {
  height: auto !important;
  max-height: 250px !important;
}

.card-header {
  cursor: auto !important;
  text-align: center;
}

.caption-small {
  font-size: 13px;
}

.dropdown-caption {
  margin-left: 10px;
}

.eff-weakness {
  color: red;
}

.eff-very-weakness {
  color: darkred;
}

.eff-neutral {
  color: black;
}

.eff-resistance {
  color: lightgreen;
}

.eff-very-resistance {
  color: green;
}

.eff-super-resistance {
  color: darkgreen;
}
