.table-head {
  font-size: 18px;
  padding: 15px 0;
  text-align: center;
  vertical-align: inherit;
  font-weight: bold;
}

.table-movesets-col {
  position: relative;
  overflow-y: auto;
  border: 1px solid #b9d4da;
  height: auto;
}

td.data-table {
  padding: 0;
}

.type-icon-small {
  padding: 5px 8px;
  text-shadow: 1px 1px black;
  border-radius: 5px;
  color: white;
}
