.text-not-encounter {
  padding: 10px;
  border-radius: 10px;
}

.circle-ring {
  top: 50%;
  transform: translateY(-50%);
}

.table-container {
  min-width: 50%;
  overflow-x: auto;
  padding: 0 15px;
}

.table-catch-chance tbody td,
.table-catch-chance thead th {
  font-size: 1.8rem;
  font-weight: lighter;
  padding: 10px 20px;
  text-align: center;
  width: 25%;
}

.table-catch-chance tbody td:not(.table-catch-chance tbody td:nth-child(1)) {
  font-weight: 500;
  transition: 0.1ms;
}
