.poke-container {
  @apply tw-mb-[15px] tw-overflow-hidden;
}

.img-desc {
  @apply tw-w-[217px] tw-h-[217px] tw-p-1;
}

.text-gen {
  @apply tw-text-[16px];
}

.img-form-group hr {
  @apply tw-w-[350px];
}

.title-evo {
  @apply tw-flex tw-items-center tw-gap-2;
}

a b.link-title,
.title-evo b,
.info-title {
  text-decoration: underline !important;
}

.table-main,
.table-desc {
  max-width: 500px !important;
}

.table-main thead tr th {
  @apply tw-text-[16px] tw-py-[5px] tw-px-2.5 tw-h-[35px];
}

td h5,
td h6 {
  @apply tw-m-0;
}

.table-info tbody tr td:nth-child(1) {
  @apply tw-w-1/4 tw-min-w-[180px];
}

.table-desc tbody tr td:nth-child(1) {
  width: 25% !important;

  @apply tw-text-start tw-min-w-[180px];
}

.table-desc tbody tr:nth-child(odd) td {
  @apply tw-text-start;
}

.table-desc tbody tr td div.tw-h-full {
  @apply tw-py-[5px] tw-px-2.5;
}

.table-desc tbody tr:nth-child(even) td {
  @apply tw-text-start;
}

.table-desc.table-info tbody tr td:first-child {
  text-align: start !important;
}

.table-info tbody tr.tw-text-center td.table-sub-header:nth-child(2) {
  @apply tw-font-bold;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) {
  @apply tw-text-start;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) div.row-extra {
  @apply tw-py-[5px] tw-px-2.5;
}

.text-navigate,
.text-overflow {
  @apply tw-whitespace-nowrap tw-overflow-hidden tw-text-ellipsis tw-w-full;
}

.prev-next-block {
  z-index: 3 !important;
  box-shadow: 0 5px 3px #0000004d;

  @apply tw-m-0 tw-h-[62px];
}

.prev-block .text-navigate {
  @apply tw-pr-[8%];
}

.next-block .text-navigate {
  @apply tw-pl-[8%];
}
