.poke-container {
  margin-bottom: 15px;
  overflow: hidden;
}

.img-desc {
  width: 217px;
  height: 217px;

  @apply tw-p-1;
}

.text-gen {
  font-size: 16px;
}

.img-form-group hr {
  width: 350px;
}

.title-evo {
  @apply tw-flex tw-items-center tw-gap-2;
}

a b.link-title,
.title-evo b,
.info-title {
  text-decoration: underline !important;
}

.table-main,
.table-desc {
  max-width: 500px !important;
}

.table-main thead tr th {
  font-size: 16px;
  padding: 5px 10px;
  height: 35px;
}

td h5,
td h6 {
  margin: 0;
}

.table-info tbody tr td:nth-child(1) {
  width: 25%;
  min-width: 180px;
}

.table-desc tbody tr td:nth-child(1) {
  text-align: start;
  width: 25% !important;
  min-width: 180px;
}

.table-desc tbody tr:nth-child(odd) td {
  text-align: start;
}

.table-desc tbody tr td div.tw-h-full {
  padding: 5px 10px;
}

.table-desc tbody tr:nth-child(even) td {
  text-align: start;
}

.table-desc.table-info tbody tr td:first-child {
  text-align: start !important;
}

.table-info tbody tr.tw-text-center td.table-sub-header:nth-child(2) {
  font-weight: bolder;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) {
  text-align: start;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) div.row-extra {
  padding: 5px 10px;
}

.text-navigate,
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.prev-next-block {
  z-index: 3 !important;
  box-shadow: 0 5px 3px #0000004d;
  margin: 0;
  height: 62px;
}

.prev-block .text-navigate {
  padding-right: 8%;
}

.next-block .text-navigate {
  padding-left: 8%;
}
