.poke-container {
    margin-bottom: 15px;
    overflow: hidden;
}

.poke-parent {
    margin-bottom: 15px;
}

.group-desc {
    margin: 15px 5px;
    overflow-y: hidden;
}

.img-desc {
    min-width: 200px !important;
    margin-right: 15px;
}

.img-desc img {
    min-width: 200px;
    border: 2px solid lightgray;
    padding: 10px;
}

.text-desc {
    min-width: 200px !important;
}

.text-gen {
    font-size: 16px;
    color: gray;
}

.img-form-group hr {
    width: 350px;
}

.img-group {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.caption {
    font-size: 12px;
    color: gray;
    display: block;
}