.poke-container {
  margin-bottom: 15px;
  overflow: hidden;
}

.poke-parent {
  margin-bottom: 15px;
}

.group-desc {
  margin: 15px 5px;
  overflow-y: hidden;
}

.img-desc {
  width: 210px;
  height: 210px;
  border: 2px solid lightgray;
  padding: 5px;
}

.text-gen {
  font-size: 16px;
}

.img-form-group hr {
  width: 350px;
}

.img-group {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

a b.link-title,
.title-evo b,
.info-title {
  text-decoration: underline !important;
}

.table-main,
.table-desc {
  max-width: 500px !important;
}

.table-main thead tr th {
  font-size: 16px;
  padding: 5px 10px;
  height: 35px;
}

td h5,
td h6 {
  margin: 0;
}

.table-desc tbody tr td {
  border: 1px solid lightgray;
}

.table-info tbody tr td:nth-child(1) {
  width: 25%;
  min-width: 180px;
}

.table-desc tbody tr td:nth-child(1) {
  text-align: start;
  width: 25% !important;
  min-width: 180px;
}

.table-desc tbody tr:nth-child(odd) td {
  text-align: start;
}

.table-desc tbody tr td div.first-extra-col {
  border-right: 1px solid lightgray;
}

.table-desc tbody tr td div.h-100 {
  padding: 5px 10px;
}

.table-desc tbody tr:nth-child(even) td {
  text-align: start;
}

.table-desc.table-info tbody tr td:first-child {
  text-align: start !important;
}

.table-info tbody tr.text-center td.table-sub-header:nth-child(2) {
  font-weight: bolder;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) {
  text-align: start;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) div:nth-child(1).td-costs {
  border-bottom: 1px solid #b8d4da;
}

.table-info tbody tr:nth-child(even) td:nth-child(2) div.row-extra {
  padding: 5px 10px;
}

.text-navigate,
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.prev-next-block {
  border: 1px solid lightgray;
  z-index: 3 !important;
  box-shadow: 0 5px 3px #0000004d;
  margin: 0;
  height: 62px;
}

.prev-block {
  border-right: 0.5px solid lightgray;
}

.prev-block .text-navigate {
  padding-right: 5%;
}

.next-block {
  border-left: 0.5px solid lightgray;
}

.next-block .text-navigate {
  padding-left: 10%;
}
