.element-top {
    margin-top: 10px;
}

.card-input div h5 {
    text-align: center;
    margin-bottom: 10px;
}

.card-input {
    width: 300px;
    height: 86px;
    border: 1px solid #ddd;
}

.card-input:hover {
    cursor: pointer;
}

.card-select {
    padding: 10px;
}

.type-none {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    color: red;
    font-size: 30px;
    float: right;
    margin-top: 6px;
}

.result-type {
    /* top: 184px; */
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    height: 50%;
    overflow-y: scroll;
}

.result-type ul {
    margin: 0;
    padding: 0;
}

.card-pokemon {
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
    background-color: white;
}

.card-pokemon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.img-type {
    margin-right: 10px;
}