.ph-item {
  padding: 0;
  margin: 0;
}

.caption-constant {
  color: grey !important;
}

.w-fit-content {
  width: fit-content !important;
  -webkit-width: fit-content !important;
  -moz-width: fit-content !important;
  -ms-width: fit-content !important;
  -o-width: fit-content !important;
}

.w-max-content {
  width: max-content !important;
  -webkit-width: max-content !important;
  -moz-width: max-content !important;
  -ms-width: max-content !important;
  -o-width: max-content !important;
}

.h-fit-content {
  height: fit-content !important;
  -webkit-height: fit-content !important;
  -moz-height: fit-content !important;
  -ms-height: fit-content !important;
  -o-height: fit-content !important;
}

.h-max-content {
  height: max-content !important;
  -webkit-height: max-content !important;
  -moz-height: max-content !important;
  -ms-height: max-content !important;
  -o-height: max-content !important;
}

.mw-fit-content {
  max-width: fit-content !important;
  -webkit-max-width: fit-content !important;
  -moz-max-width: fit-content !important;
  -ms-max-width: fit-content !important;
  -o-max-width: fit-content !important;
}

.mw-max-content {
  max-width: max-content !important;
  -webkit-max-width: max-content !important;
  -moz-max-width: max-content !important;
  -ms-max-width: max-content !important;
  -o-max-width: max-content !important;
}

.mh-fit-content {
  max-height: fit-content !important;
  -webkit-max-height: fit-content !important;
  -moz-max-height: fit-content !important;
  -ms-max-height: fit-content !important;
  -o-max-height: fit-content !important;
}

.mh-max-content {
  max-height: max-content !important;
  -webkit-max-height: max-content !important;
  -moz-max-height: max-content !important;
  -ms-max-height: max-content !important;
  -o-max-height: max-content !important;
}

.w-auto {
  width: auto !important;
  -webkit-width: auto !important;
  -moz-width: auto !important;
  -ms-width: auto !important;
  -o-width: auto !important;
}

.h-auto {
  height: auto !important;
  -webkit-height: auto !important;
  -moz-height: auto !important;
  -ms-height: auto !important;
  -o-height: auto !important;
}
