.ph-item {
  padding: 0;
  margin: 0;
}

.caption-constant {
  color: grey !important;
}

.w-fit-content {
  width: fit-content !important;
  -webkit-width: fit-content !important;
  -moz-width: fit-content !important;
  -ms-width: fit-content !important;
  -o-width: fit-content !important;
}

.w-max-content {
  width: max-content !important;
  -webkit-width: max-content !important;
  -moz-width: max-content !important;
  -ms-width: max-content !important;
  -o-width: max-content !important;
}

.h-fit-content {
  height: fit-content !important;
  -webkit-height: fit-content !important;
  -moz-height: fit-content !important;
  -ms-height: fit-content !important;
  -o-height: fit-content !important;
}

.h-max-content {
  height: max-content !important;
  -webkit-height: max-content !important;
  -moz-height: max-content !important;
  -ms-height: max-content !important;
  -o-height: max-content !important;
}
