.shadow-ic {
  background-color: #c184ec;
}
.bug {
  background-color: #9cb820;
}
.dark {
  background-color: #504843;
}
.dragon {
  background-color: #7038f8;
}

.electric,
.elite-ic,
.score-ic {
  background-color: #f8d030;
}

.fighting {
  background-color: #c03028;
}
.fire {
  background-color: #f08030;
}
.flying {
  background-color: #9096f0;
}
.fairy {
  background-color: #f09ad9;
}
.ground {
  background-color: #e0b668;
}
.ghost {
  background-color: #705898;
}
.grass {
  background-color: #22c02a;
}
.ice {
  background-color: #98d8d8;
}

.normal,
.purified-ic {
  background-color: #a8a8a8;
}
.psychic {
  background-color: #f85888;
}
.poison {
  background-color: #a040a0;
}
.rock {
  background-color: #b8a038;
}
.steel {
  background-color: #6d8f9c;
}
.water {
  background-color: #6890f0;
}

.bug-border {
  border-color: #9cb820;
}
.dark-border {
  border-color: #504843;
}
.dragon-border {
  border-color: #7038f8;
}
.electric-border {
  border-color: #f8d030;
}
.fighting-border {
  border-color: #c03028;
}
.fire-border {
  border-color: #f08030;
}
.flying-border {
  border-color: #9096f0;
}
.fairy-border {
  border-color: #f09ad9;
}
.ground-border {
  border-color: #e0b668;
}
.ghost-border {
  border-color: #705898;
}
.grass-border {
  border-color: #22c02a;
}
.ice-border {
  border-color: #98d8d8;
}
.normal-border {
  border-color: #a8a8a8;
}
.psychic-border {
  border-color: #f85888;
}
.poison-border {
  border-color: #a040a0;
}
.rock-border {
  border-color: #b8a038;
}
.steel-border {
  border-color: #6d8f9c;
}
.water-border {
  border-color: #6890f0;
}
.black-border {
  border-color: black;
}

.bug-bg {
  background: #9cb820;
}
.dark-bg {
  background: #504843;
}
.dragon-bg {
  background: #7038f8;
}
.electric-bg {
  background: #f8d030;
}
.fighting-bg {
  background: #c03028;
}
.fire-bg {
  background: #f08030;
}
.flying-bg {
  background: #9096f0;
}
.fairy-bg {
  background: #f09ad9;
}
.ground-bg {
  background: #e0b668;
}
.ghost-bg {
  background: #705898;
}
.grass-bg {
  background: #22c02a;
}
.ice-bg {
  background: #98d8d8;
}
.normal-bg {
  background: #a8a8a8;
}
.psychic-bg {
  background: #f85888;
}
.poison-bg {
  background: #a040a0;
}
.rock-bg {
  background: #b8a038;
}
.steel-bg {
  background: #6d8f9c;
}
.water-bg {
  background: #6890f0;
}
.black-bg {
  background: black;
}

.special-ic,
.exclusive-ic {
  background: linear-gradient(to right bottom, #825af0, #9ba0f0);
}
.dynamax-ic {
  background: #e44940;
}
.unavailable-ic {
  background: linear-gradient(to right bottom, #504843, #a8a8a8);
}

.disable-ic {
  background-color: darkgray;
  color: lightgray !important;
}