#p1,
#p2,
#p3 {
  @apply tw-opacity-0;
}

#p1 {
  animation: fade-in 1s 0s infinite ease-in-out;
}

#p2 {
  animation: fade-in 1s 0.1s infinite ease-in-out;
}

#p3 {
  animation: fade-in 1s 0.2s infinite ease-in-out;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.reload-text {
  @apply tw-my-2.5 tw-mx-0 tw-underline tw-font-medium tw-cursor-pointer tw-text-lightgray;
}

.reload-text:hover {
  @apply tw-text-[#e2e2e2];
}
