.progress {
  min-width: 350px;
  height: 30px;
  margin: 10px 0;
}

.progress-hover {
  cursor: pointer;
}

.progress-hover:hover {
  filter: drop-shadow(2px 2px 2px #0a0a0a80);
}

.stats-text {
  align-items: center;
  height: 30px;
  margin-left: 1%;
}

.box-text span {
  padding: 3px;
  background-color: #d3d3d3cc;
  border-radius: 5px;
  font-weight: bold;
}

.rank-text {
  align-items: center;
  height: 30px;
  width: 99% !important;
}
