.progress {
  min-width: 350px;
  height: 30px;
  margin: 10px 0;
  cursor: pointer;
}

.progress:hover {
  filter: drop-shadow(2px 2px 2px rgb(10 10 10 / 50%));
}

.stats-text {
  align-items: center;
  height: 30px;
  margin-left: 1%;
}

.box-text span {
  padding: 3px;
  background-color: rgb(211 211 211 / 80%);
  border-radius: 5px;
  font-weight: bold;
}

.rank-text {
  align-items: center;
  height: 30px;
  width: 99% !important;
}
