.table-moves-col {
  height: 10%;
  max-height: 700px;
  overflow-y: auto;
}

.table-moves {
  width: 100%;
  min-width: 250px;
  table-layout: -webkit-fixed;
  table-layout: fixed;
}

.table-moves thead {
  position: sticky;
  top: 0;
}

.table-moves thead tr th {
  font-size: 16px;
  padding: 5px 10px;
  height: 35px;
}

.table-moves tbody tr td {
  font-weight: bolder;
}

.main-move {
  width: 40%;
}

.text-origin {
  font-weight: lighter !important;
}

.text-b-ic {
  margin-right: 8px;
}
