.btn-group-search input {
  width: 300px !important;
}

.text-navigater {
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
}

.tools {
  z-index: 0;
  margin-top: 38px;
  box-shadow: 0 4px 8px 0 black;
}

.selected {
  background-color: rgb(170 170 170);
}

.select-pokemon {
  height: 650px;
}

.search-container {
  margin-bottom: 15px;
}

.scroll-card {
  position: relative;
  height: 180px !important;
  width: 350px;
  white-space: nowrap;
  overflow-x: auto;
}

.scroll-card .btn-form:not(:first-child) {
  margin-left: 10px;
}

.col-cal {
  margin-bottom: 15px;

  /* max-width: 50%; */
}

.loading-group {
  display: inline-block;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.four-star {
  border: 1px solid red;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(255 215 215);
  margin: 10px;
}

.three-star,
.two-star,
.one-star {
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(255 255 215);
  margin: 10px;
}

.zero-star {
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}

.loading {
  animation: loading-spin 1s linear infinite;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
