.border-type {
  @apply tw-rounded-[10px] tw-text-white tw-p-2;
}

.border-type img {
  @apply tw-rounded-full;
}

.border-type h3 {
  text-shadow: 2px 2px black;

  @apply tw-ml-2.5 tw-mr-2.5 tw-mb-0;
}
