ul {
    list-style-type: none;
}

.btn-group-search input {
    width: 300px !important;
}

.result-tools {
    position: absolute;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0);
    margin-top: 38px;
}

.result-tools ul {
    margin: 0;
    padding: 0;
}

.card-pokemon {
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.selected {
    background-color: rgb(170, 170, 170);
}

.card-pokemon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.select-pokemon {
    height: 650px;
}

.element-top {
    margin-top: 10px;
}

.search-container {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.img-search {
    margin: 0 5px 0 5px;
}

.scroll-card {
    position: relative;
    height: 180px !important;
    width: 350px;
    white-space: nowrap;
}

.col-cal {
    margin-bottom: 15px;
    /* max-width: 50%; */
}

.loading-group {
    display: inline-block;
    text-align: center;
}

.vertical-center {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading {
    animation: loading-spin 1s linear infinite;
}

@keyframes loading-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}