ul {
    list-style-type: none;
}

.result {
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    background-color: white;
}

.result ul {
    margin: 0;
    padding: 0;
}

.card-pokemon {
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.card-pokemon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.element-top {
    margin-top: 10px;
}

.center {
    text-align: center;
}

.img-form-group {
    width: 280px;
}

.img-search {
    margin: 0 5px 0 5px;
    width: 36px;
    height: 36px;
}

.img-group {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.caption {
    font-size: 12px;
    color: gray;
    display: block;
}