.top-raid-group {
    border: 1px solid #b8d4da;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 15px;
}

.top-raid-pokemon {
    width: 250px;
    display: inline-block;
    border: 1px solid #b8d4da;
    padding: 10px;
}

.sprite-raid {
    width: 128px;
}

.sprite-raid:hover {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
}