.top-raid-group {
  white-space: nowrap;
  overflow-x: auto;
}

.top-raid-pokemon {
  min-width: 250px;
  display: inline-block;
  padding: 10px;
}

.trainer-battle {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.pokemon-battle {
  display: inline-block;
}

.pokemon-battle span {
  display: flex;
  width: 45px;
  height: 45px;
  padding: 5px;
}

img.pokemon-sprite-battle {
  margin-right: 10px;
  width: 36px;
  object-fit: contain;
}

.pokemon-battle-group {
  white-space: nowrap;
  overflow-y: auto;
}

.sprite-raid {
  width: 128px;
}

.sprite-raid:hover {
  filter: drop-shadow(2px 2px 2px #000000cc);
}

.border-box {
  border-bottom: 2px solid lightgray;
}

.stats-boss {
  padding: 1rem;
}

.line-dps {
  color: yellow;
  margin-left: 1px;
}

.line-left,
.line-right {
  position: absolute;
  top: -10px;
}

.line-dps span.line-left {
  left: -1.5px;
}

.line-dps span.line-right {
  right: -1.5px;
}

.line-dps hr {
  position: absolute;
  margin: 0;
  opacity: 1;
  height: 2px;
}

.line-dps div.text-dps {
  position: absolute;
  color: yellow;
  top: -15.5px;
  left: calc(50% - 7.5px);
  font-size: 8px;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.count-pokemon {
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 15px;
}

.click-none {
  cursor: not-allowed !important;
}

.flag-pokemon {
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white !important;
  width: fit-content;
}

.table-round-battle thead tr th {
  font-size: 16px;
  height: 35px;
  padding: 5px 10px;
}

.table-round-battle tbody tr td:nth-child(1) {
  width: auto;
  min-width: auto;
  text-align: center;
  font-weight: bold;
}

.table-info tbody tr td .table-pokemon {
  width: max-content;
  height: 36px;
}

.text-summary {
  font-weight: bold;
}

.ic-group {
  position: absolute;
  top: -10px;
  right: -10px;
}

.ic-copy,
.ic-remove {
  padding: 3px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.ic-group-small {
  position: absolute;
  right: 5px;
}

.ic-copy-small,
.ic-remove-small {
  padding: 3px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.ic-copy:not(.click-none):hover,
.ic-copy-small:not(.click-none):hover {
  background-color: #076dbb !important;
}

.ic-remove:not(.click-none):hover,
.ic-remove-small:not(.click-none):hover {
  background-color: #bb0707 !important;
}

.text-group-small {
  position: absolute;
  left: 5px;
  font-weight: bold;
}

.slot-active {
  cursor: pointer;
  border: 1px solid #198754;
  box-shadow: inset 0 0 4px 0.5px #19875480;
}

.move-badge {
  position: absolute;
  top: -20px;
  right: -5px;
  transform: translate(5px, 5px);
}
