.top-raid-group {
  @apply tw-whitespace-nowrap tw-overflow-x-auto;
}

.top-raid-pokemon {
  @apply tw-min-w-[250px] tw-inline-block tw-p-2.5;
}

.trainer-battle {
  @apply tw-w-full tw-p-2.5 tw-mb-[15px];
}

.pokemon-battle {
  @apply tw-inline-block;
}

.pokemon-battle span {
  @apply tw-flex tw-w-[45px] tw-h-[45px] tw-p-[5px];
}

img.pokemon-sprite-battle {
  @apply tw-mr-2.5 tw-w-9 tw-object-contain;
}

.pokemon-battle-group {
  @apply tw-whitespace-nowrap tw-overflow-y-auto;
}

.sprite-raid {
  @apply tw-w-32;
}

.stats-boss {
  @apply tw-p-4;
}

.line-dps {
  @apply tw-text-yellow-400 tw-ml-px;
}

.line-left,
.line-right {
  @apply tw-absolute -tw-top-2.5;
}

.line-dps span.line-left {
  @apply -tw-left-[1.5px];
}

.line-dps span.line-right {
  @apply -tw-right-[1.5px];
}

.line-dps hr {
  @apply tw-absolute tw-m-0 tw-opacity-100 tw-h-0.5;
}

.line-dps div.text-dps {
  @apply tw-absolute tw-text-yellow-400 -tw-top-[15.5px] tw-left-[calc(50%-7.5px)] tw-text-[8px] tw-font-medium;
}

.count-pokemon {
  @apply tw-rounded-[5px] tw-py-2 tw-px-[15px];
}

.click-none {
  cursor: not-allowed !important;
}

.table-round-battle thead tr th {
  @apply tw-text-[16px] tw-h-[35px] tw-py-[5px] tw-px-2.5;
}

.table-round-battle tbody tr td:nth-child(1) {
  @apply tw-w-auto tw-min-w-0 tw-text-center tw-font-bold;
}

.table-info tbody tr td .table-pokemon {
  @apply tw-w-max tw-h-9;
}

.text-summary {
  @apply tw-font-bold;
}

.ic-group {
  @apply tw-absolute -tw-top-4 tw-right-2;
}

.ic-copy,
.ic-remove {
  @apply tw-py-[3px] tw-px-2 tw-rounded-full tw-cursor-pointer;
}

.ic-group-small {
  @apply tw-absolute tw-right-[5px];
}

.ic-copy-small,
.ic-remove-small {
  @apply tw-py-[3px] tw-px-2 tw-rounded-full tw-cursor-pointer;
}

.ic-copy:not(.click-none):hover,
.ic-copy-small:not(.click-none):hover {
  background-color: #076dbb !important;
}

.ic-remove:not(.click-none):hover,
.ic-remove-small:not(.click-none):hover {
  background-color: #bb0707 !important;
}

.text-group-small {
  @apply tw-absolute tw-left-[5px] tw-font-bold;
}

.slot-active {
  box-shadow: inset 0 0 4px 0.5px #19875480;

  @apply tw-cursor-pointer tw-border tw-border-solid tw-border-[#198754];
}

.move-badge {
  transform: translate(5px, 5px);

  @apply tw-absolute -tw-top-4 -tw-right-2;
}
