.top-raid-group {
    border: 1px solid #b8d4da;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 15px;
}

.top-raid-pokemon {
    min-width: 250px;
    display: inline-block;
    border: 1px solid #b8d4da;
    padding: 10px;
}

.trainer-battle {
    width: 100%;
    border: 1px solid #b8d4da;
    padding: 10px;
    margin-bottom: 10px;

}

.pokemon-battle {
    display: inline-block;
    border: 1px solid #b8d4da;
}

.pokemon-battle span {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 5px;
}

img.pokemon-sprite-battle {
    width: 100%;
    object-fit: contain;
}

.pokemon-battle-group {
    white-space: nowrap;
    overflow-y: auto;
}

.sprite-raid {
    width: 128px;
}

.sprite-raid:hover {
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
}

.border-box {
    border-bottom: 2px solid lightgray;
}

.stats-boss {
    border: 2px solid lightgray;
    padding: 1rem;
}

.line-dps {
    color: orange;
    margin-left: 1px;
    height: 15px
}

.line-left, .line-right {
    position: absolute;
    top: -13px;
}

.line-dps span.line-left {
    left: -1.6px;
}

.line-dps span.line-right {
    right: -1.6px;
}

.line-dps hr {
    /* position: absolute; */
    margin: 0;
    opacity: 1;
    height: 2px;
}

.dps-text {
    margin-left: 1%;
}

.cursor-pointer {
    cursor: pointer;
}

.count-pokemon {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 15px;
}

.click-none {
    cursor: auto !important;
    color: lightgray !important;
}

.flag-pokemon {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    width: fit-content;
}