.head-box {
  height: 60px;
  margin-top: 1rem;
  margin-left: 2%;
  gap: 15px;
}

h1.text-move {
  margin-bottom: 0;
}

.move-img-desc {
  min-width: 100px !important;
  margin-right: 15px;
}

.move-img-desc img {
  min-width: 100px;
  border: 2px solid lightgray;
  padding: 10px;
}

.move-table td:nth-child(1) {
  width: 40% !important;
  min-width: 150px !important;
}

.move-damage-table td:nth-child(1) {
  width: 40% !important;
  min-width: 200px !important;
}

.img-type-icon {
  filter: drop-shadow(1px 1px 1px black);
}

.target-buff {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0 !important;
  text-align: start !important;
  text-align-last: start !important;
}

.buff-power {
  font-size: 14px;
}

.table-top-of-move {
  max-width: 0;
  overflow-x: auto;
}

.table-sub-bonus.accordion-item {
  border: none;

  tr td:nth-child(1) {
    width: 25% !important;
    vertical-align: middle;
  }

  tr td:nth-child(2),
  tr td:nth-child(3) {
    font-weight: lighter !important;
    vertical-align: middle;
  }
}

.table-sub-bonus .accordion-button {
  height: 35px;
  background: #f1f1ff;
  border: none;
  color: #0571c2;
  font-weight: bold;
  box-shadow: none;
  padding: 5px 10px;
  font-size: 1rem;

  span {
    width: 100%;
    text-align: center;
    margin-left: 20px;
  }
}

.table-bonus-cost {
  display: inline-flex;
  height: 100%;
  width: 50%;
  align-items: center;
  gap: 5px;
}

.table-sub-bonus .accordion-body {
  padding: 0 !important;
}
