.head-box {
  @apply tw-h-15 tw-mt-4 tw-ml-[2%] tw-gap-[15px];
}

h1.text-move {
  @apply tw-mb-0;
}

.move-table td:nth-child(1) {
  width: 40% !important;
  min-width: 150px !important;
}

.move-damage-table td:nth-child(1) {
  width: 40% !important;
  min-width: 200px !important;
}

.target-buff {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0 !important;
  text-align: start !important;
  text-align-last: start !important;
}

.buff-power {
  @apply tw-text-[14px];
}

.table-top-of-move {
  @apply tw-max-w-0 tw-overflow-x-auto;
}

.table-sub-bonus.accordion-item {
  @apply tw-border-none;

  tr td:nth-child(1) {
    width: 25% !important;

    @apply tw-align-middle;
  }

  tr td:nth-child(2),
  tr td:nth-child(3) {
    font-weight: lighter !important;

    @apply tw-align-middle;
  }
}

.table-sub-bonus .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;

  @apply tw-h-[35px] tw-border-none tw-font-bold tw-shadow-none tw-py-[5px] tw-px-2.5 tw-text-[1rem];

  span {
    @apply tw-w-full tw-text-center tw-ml-5;
  }
}

.table-bonus-cost {
  @apply tw-inline-flex tw-h-full tw-w-1/2 tw-items-center tw-gap-[5px];
}

.table-sub-bonus .accordion-body {
  padding: 0 !important;
}
