.img-gender {
    float: left;
    margin-right: 15px;
}

.img-gender img {
    display: block;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.img-form-gender-group {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 5%;
}

.btn-form {
    margin: 0 10px 5px 0;
}

.form-border {
    display: inline-block;
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-top: 5px;
    background-color:floralwhite;
}