.title-leagues {
  text-decoration: underline;
  font-weight: bolder;
}

.league {
  width: max-content;
  height: max-content;
  position: relative;
  margin: auto;
}

.season-league {
  position: relative;
  white-space: nowrap;
  overflow-x: auto;
  width: max-content;
}

.group-rank-league {
  display: inline-block;
}

.rank-header {
  padding: 8px;
  font-weight: bold;
}

.reward-league {
  position: sticky;
  left: 0;
  z-index: 2;
}

.badge-league {
  position: absolute;
  top: 65%;
  right: 7%;
  transform: translateY(-65%);
  border: 5px solid #b2b2b2;
  border-radius: 50%;
}

.badge-league img {
  padding: 5px;
}

.sub-badge {
  border-radius: 50%;
  border: 3.5px solid white;
}

li.unique-type ul {
  padding: 0;
}

.great-league {
  background-image: linear-gradient(45deg, #2a3fa5 60%, #4b7ad6);
}

.ultra-league {
  background-image: linear-gradient(45deg, #2f363c 60%, #7f898b);
}

.master-league {
  background-image: linear-gradient(45deg, #4b228a 60%, #a388d0);
}

.img-link {
  width: max-content;
  display: inline-block !important;
  margin: 5px;
}

.league-body.accordion-body div.sub-body {
  padding: 1rem 1.25rem;
}


.combat-league {
  display: inline-block;
  width: 64px;
  position: relative;
  margin-right: 5px;
}

.combat-league-info {
  display: inline-block;
  width: 96px;
  position: relative;
  margin-right: 5px;
}

.combat-league img.main-combat-league {
  width: 100%;
  height: 64px;
  object-fit: contain;
}

.combat-league-info img.main-combat-league-info {
  width: 100%;
  height: 96px;
  object-fit: contain;
}

.combat-center-league {
  position: absolute;
  top: 38%;
  left: 49%;
  transform: translate(-50%, -40%);
}

.combat-center-league-info {
  position: absolute;
  top: 45%;
  left: 49%;
  transform: translate(-49%, -40%);
}

.combat-center-league-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.require-rank-info {
  b {
    @apply tw-text-red-600;
  }

  li {
    @apply tw-list-none;
  }
}

.combat-center-league-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 10px;
}

.reward-info {
  font-size: 14px !important;
}
