.table-moves-col {
    height: 10%;
    max-height: 700px;
    overflow-y: auto;
    border: 1px solid #b8d4da;
}

.table-moves tbody tr td {
    color: #0571c2;
    font-weight: bolder;
}

.table-column-head {
    background-color: #f1ffff !important;
    width: auto !important;
    color: black !important;
}

.main-move {
    max-width: 130px !important;
    min-width: 130px !important;
    width: 130px !important;
}

.text-origin {
    background-color: white !important;
    color: black !important;
    font-weight: lighter !important;
}

.text-b-ic {
    margin-right: 8px;
}

.ic {
    font-size: 10px;
    padding: 1px 6px !important;
    font-weight: bold !important;
    text-shadow: none !important;
    display: inline-block;
    text-align: center;
}

.elite-ic {
    background-color:#f8d030 !important;
    color: black !important;
    width: 35px;
}

.shadow-ic {
    background-color:#c184ec !important;
    color: black !important;
    width: 50px;
}