.link-url {
    color: #0d6efd;
    cursor: pointer;
}

.link-url:hover {
    color: #0000ee;
}

img.pokemon-sprite {
    width: 100%;
    height: 96px;
    object-fit: contain;
}

img.pokemon-sprite-counter {
    width: 100%;
    height: 64px;
    object-fit: contain;
}

img.pokemon-sprite-model {
    width: 100%;
    height: 80px;
    object-fit: contain;
}

.text-timestamp {
    color: red !important;
    font-size: 16px;
    font-weight: 400 !important;
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.result ul, .result-type ul, .result-weather ul, .result-tools ul, .result-move ul {
    margin: 0;
    padding: 0;
    background-color: white;
}

.card-pokemon {
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.card-pokemon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.center {
    text-align: center !important;
}

.element-top {
    margin-top: 10px;
}

.img-search {
    margin: 0 5px;
}