.caption {
  font-size: 12px;
  display: block;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.loading {
  animation: loading-spin 1s linear infinite;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.link-url {
  color: #0d6efd !important;
  cursor: pointer;
}

.link-url:hover {
  color: #0000ee !important;
}

img.pokemon-main-sprite {
  width: 100%;
  height: 205px;
  object-fit: contain;
}

img.sprite-type {
  width: 100%;
  height: 36px;
  object-fit: contain;
}

img.sprite-type-large {
  width: 100%;
  height: 128px;
  object-fit: contain;
}

img.pokemon-sprite-accordion {
  width: 100%;
  height: 50px;
  object-fit: contain;
}

img.pokemon-navigate-sprite {
  height: 60px;
  object-fit: contain;
}

img.pokemon-sprite {
  width: 100%;
  height: 96px;
  object-fit: contain;
}

img.pokemon-sprite-small {
  width: 100%;
  height: 16px;
  object-fit: contain;
}

img.pokemon-sprite-medium {
  width: 100%;
  height: 64px;
  object-fit: contain;
}

img.pokemon-sprite-large {
  width: 100%;
  height: 96px;
  object-fit: contain;
}

img.pokemon-sprite-counter {
  width: 100%;
  height: 64px;
  object-fit: contain;
}

img.pokemon-sprite-model {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

img.pokemon-sprite-raid {
  width: 100%;
  height: 128px;
  object-fit: contain;
}

img.block-spirit-timeline {
  width: 100%;
  height: 44px;
  object-fit: contain;
}

img.frame-type-sprite {
  width: 100%;
  height: 40px;
  object-fit: contain;
}

img.badge-type-sprite {
  width: 100%;
  height: 20px;
  object-fit: contain;
}

.shadow-icon,
.purified-icon {
  position: absolute;
  bottom: 0;
}

.border-type-init {
  border-style: solid;
  border-width: 1px;
  height: 30px;
}

.type-select-bg {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  column-gap: 5px;
}

ul {
  list-style-type: none;
}

.result {
  position: absolute;
  z-index: 4;
  width: 300px;
  max-height: 570px;
  overflow-y: auto;
}

.result-type ul,
.result-weather ul,
.result-move ul {
  margin: 0;
  padding: 0;
}

.card-pokemon {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.img-search {
  margin: 0 5px;
}

.moveset-error {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.moveset-error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  color: red;
}

.disable-card-move {
  color: gray;
}

.ic {
  display: inline-block;
  font-size: 10px;
  padding: 1px 6px !important;
  font-weight: bold !important;
  text-shadow: none !important;
  text-align: center;
  color: black !important;
  width: fit-content !important;
}

.type-border,
.text-shadow-black {
  text-shadow: 1px 1px black;
}

.type-border-white {
  border: 1px solid white;
  border-radius: 50%;
}

.popover-info {
  background-color: var(--custom-pop-over);

  @apply tw-p-4 tw-rounded-lg;
}
