@use "./assets/styles/tailwind.css";
@use "./assets/styles/global.scss";
@use "../node_modules/placeholder-loading/src/scss/variables.scss" as * with (
  $ph-bg: var(--loading-placeholder-bg),
  $ph-color: var(--loading-placeholder),
  $ph-border: none,
  $ph-border-radius: 0
);
@use "../node_modules/placeholder-loading/src/scss/placeholder-loading.scss" as *;

html {
  @apply tw-h-full;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.1s;

  @apply tw-h-full tw-m-0 tw-text-default tw-bg-custom-default tw-leading-default tw-touch-manipulation;
}

#root {
  @apply tw-h-full tw-relative;
}
