@use "./assets/styles/tailwind.css";
@use "./assets/styles/global.scss";

html {
  @apply tw-h-full;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.1s;

  @apply tw-h-full tw-m-0 tw-text-default tw-bg-custom-default tw-leading-default tw-touch-manipulation;
}

#root {
  @apply tw-h-full tw-relative;
}
