@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style-type: none;
}

.result ul, .result-tools ul {
    margin: 0;
    padding: 0;
}

.card-pokemon {
    padding: 10px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.card-pokemon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.center {
    text-align: center;
}

.element-top {
    margin-top: 10px;
}

.img-search {
    margin: 0 5px 0 5px;
}
