.card-input div h5 {
  @apply tw-text-center tw-mb-2.5;
}

.card-input {
  @apply tw-w-[300px] tw-h-[86px];
}

.card-input:hover {
  @apply tw-cursor-pointer;
}

.card-select {
  @apply tw-relative tw-p-2.5;
}


.result-type {
  box-shadow: 0 4px 8px 0 #00000033;

  @apply tw-absolute tw-z-2 tw-w-[300px] tw-max-h-[50%] tw-overflow-y-auto;
}

.type-title {
  @apply tw-py-1 tw-px-[6px] tw-rounded-[5px];
}

.weakness-title {
  @apply tw-bg-red-600 tw-text-white;
}

.resistance-title {
  @apply tw-bg-green-600 tw-text-white;
}

.neutral-title {
  @apply tw-bg-gray-500 tw-text-white;
}
