
@use "./base.scss";
@use "./variables.scss";
@use "./custom.scss";
@use "./type.scss";
@use "./shadow.scss";

.input-group {
  @apply tw-flex tw-flex-wrap tw-w-full tw-relative tw-items-stretch;
}

.input-group-text {
  background-color: var(--tertiary-color);
  border: 1px solid var(--border-color);

  @apply tw-flex tw-text-center tw-whitespace-nowrap tw-leading-6 tw-font-normal tw-py-[.375rem] tw-px-3 tw-text-small tw-text-default tw-max-h-10;
}

.input-control-group {
  @apply tw-flex tw-flex-wrap tw-w-full;
}

.input-group > :not(:first-child) {
  @apply -tw-ml-px;
}

.row {
  display: flex !important;

  @apply tw-flex-wrap;
}

.row > * {
  flex-shrink: 0 !important;

  @apply tw-w-full tw-max-w-full tw-mt-0 tw-px-6;
}

.col {
  @apply tw-flex-1;
}

.ph-item {
  @apply tw-p-0 !tw-m-0;
}

.caption-constant {
  color: grey !important;
}

.vertical-center {
  transform: translate(-50%, -50%);

  @apply tw-left-1/2 tw-m-0 tw-absolute tw-top-1/2;
}
