@use "./common.scss" as *;

.filter-shadow {
  @include default-shadow(none, 1px, black);
}

.rank-max,
.rank-excellent,
.rank-great,
.rank-nice {
  div b {
    @include default-text-shadow(1px, white);
  }
}

.img-gender {
  @include default-shadow(none, 3px, #222222);
}

.progress-hover:hover {
  @include default-shadow(none, 2px, #0a0a0a80);
}

.sprite-raid:hover {
  @include default-shadow(none, 2px, #000000cc);
}

.filter-shadow-hover:hover {
  @include default-shadow(none, 2px, var(--shadow-hover));
}

.filter-gray {
  @include filter-gray(100%);
}

.filter-shiny,
.shiny-pokemon.active {
  @include filter(1px 1px 1px #00000099);
}

.info-container img.info-background {
  @include filter-blue(5px);
}

.no-released-pokemon {
  @include default-shadow(100%, 1px, #00000099);
}
