.border-input {
  border: 1px solid #b8c3da;
}

.btn-select-type .img-group {
  margin: 0 !important;
}

.btn-select-type {
  outline: none;
}

.input-search {
  border-radius: 0;
}

ul.pokemon-content {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 0;
}

a.pokemon-link:hover {
  box-shadow: inset 0 0 8px 1px #000000cc;
}
