.btn-select-type .img-group {
  margin: 0 !important;
}

.btn-select-type {
  outline: none;
}

.input-search {
  border-radius: 0;
}

ul.pokemon-content {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 0;
}
