.table-counter-container {
  height: 600px;
  border: 1px solid #b8d4da;
}

.table-counter {
  width: 100%;
  height: 100%;
}

.counter-none {
  height: 550px;
}

.link-pokemon-sprite {
  width: 100%;
}

.group-pokemon-sprite {
  width: 64px;
}

.sub-header {
  background-color: #f1f1ff!important;
  color: #0571c2;
  border: 1px solid #b8d4da;
  font-size: 16px;
  padding: 5px 10px;

  span.sub-title {
    font-weight: bold;
  }
}
