.btn-group-search input {
  width: 300px !important;
}

.text-navigator {
  color: red;
  font-weight: bolder;
  font-size: 1.5rem;
}

.tools {
  z-index: 0;
  margin-top: 38px;
  box-shadow: 0 4px 8px 0 black;
}

.selected {
  background-color: #aaaaaa;
}

.select-pokemon {
  height: 650px;
}

.highlight-select-pokemon {
  background-color: #aaaaaa !important;
}

.current-select-pokemon {
  background-color: lightgray;
}

.search-container {
  margin-bottom: 15px;
}

.scroll-card {
  position: relative;
  height: 180px !important;
  width: 350px;
  white-space: nowrap;
  overflow-x: auto;
}

.scroll-card .btn-form:not(:first-child) {
  margin-left: 10px;
}

.col-cal {
  margin-bottom: 15px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.four-star {
  border: 1px solid red;
  padding: 5px;
  border-radius: 8px;
  background-color: #ffd7d7;
  margin: 10px;
}

.three-star,
.two-star,
.one-star {
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 8px;
  background-color: #ffffd7;
  margin: 10px;
}

.zero-star {
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
}
