.text-navigator {
  color: var(--bs-danger);
  font-weight: bolder;
  font-size: 1.5rem;
}

.tools {
  z-index: 0;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 black;
}


.search-container {
  margin-bottom: 15px;
}


.scroll-card .MuiButtonBase-root:not(:first-child) {
  margin-left: 10px;
}

