.text-navigator {
  color: var(--bs-danger);

  @apply tw-text-[1.5rem] tw-font-bold;
}

.tools {
  box-shadow: 0 4px 8px 0 black;

  @apply tw-z-0 tw-mt-10;
}


.search-container {
  @apply tw-mb-[15px];
}


.scroll-card .MuiButtonBase-root:not(:first-child) {
  @apply tw-ml-2.5;
}
