.result {
    position: absolute;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    background-color: white;
}

.group-prev-next {
    position: -webkit-absolute;
    position: absolute;
    height: 100%;
}

.btn-prev {
    position: -webkit-fixed;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 0;
    margin-left: 4%;
}

.btn-next {
    position: -webkit-fixed;
    position: fixed;
    z-index: 3;
    top: 50%;
    right: 0;
    margin-right: 4%
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: 100%;
  background-size: 100%, 100%;
  background-image: none;
  color: rgba(255, 0, 0, 0.5);
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  font-weight: bold;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  font-weight: bold;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    color: red;
    cursor: pointer;
}