.light-mode {
  animation: movement-up 0.5s ease-in-out;
}

.dark-mode {
  animation: movement-down 0.5s ease-in-out;
}

@keyframes movement-up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes movement-down {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.nav-info,
.nav-info-top {
  @apply tw-flex tw-items-center tw-justify-center;
}

.text-version {
  @apply tw-flex;
}

.nav-info-icon {
  display: none !important;
}

@media (width >= 1200px) {
  .nav-info {
    @apply tw-hidden;
  }
}

@media (width <= 1200px) {
  .nav-info-top {
    @apply tw-hidden;
  }
}

@media (width <= 474px) {
  .text-version {
    @apply tw-hidden;
  }

  .nav-info-icon {
    display: block !important;
  }
}
