.error-img {
  @apply tw-w-full tw-min-h-[calc(100vh-56px)] tw-bg-black;
}

.img {
  background-image: url("../../assets/error.jpg");
  background-position-x: right;
  background-position-y: bottom;

  @apply tw-bg-cover tw-bg-no-repeat tw-fixed tw-max-w-[900px] tw-max-h-[564px] tw-w-full tw-h-full tw-right-0 tw-bottom-0;
}

.error-desc {
  @apply tw-w-full tw-text-center;
}

.error-desc .desc {
  transform: translateY(-20%);

  @apply tw-fixed tw-top-[20%] tw-text-white tw-w-full tw-p-2.5;
}

.error-desc .desc .desc-head {
  @apply tw-text-[calc(5rem+7vw)] tw-text-[#cd5c5c] tw-underline;
}

.error-img img {
  @apply tw-fixed tw-max-w-[900px] tw-w-full tw-right-0 tw-bottom-0;
}
