.ranking-container {
    max-height: 70vh;
    overflow-y: auto;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.ranking-group {
    display: flex;
    justify-content: space-between;
}

.ranking-score {
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;
    color: black !important;
}

.ranking-container .accordion-item:first-of-type {
    border-top: none !important
}

.ranking-container .accordion-item:last-of-type {
    border-bottom: none !important
}

.ranking-container .accordion-item:first-of-type, .ranking-container .accordion-item:last-of-type {
    border-radius: 0 !important;
}

.ranking-body {
    padding: 1.25rem 0;
}

.ranking-info {
    padding: 0 2rem;
}

.ranking-container .accordion-button.collapsed:hover {
    background-color: lightgray;
}

.number-count-ranking {
    padding: 3px 6px;
    background-color: #1976d2;
    color: white;
    border-radius: 50%;
    line-height: 1;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 10px;
}

.title-item-ranking {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-item-ranking {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid #b8d4da;
    align-items: center;
}

.status-ranking div .progress {
    min-width: 0;
}

.ranking-link-group {
    white-space: nowrap;
    overflow-x: auto;
}

.ranking-link-group a {
    border-radius: 0;
    border-left: 1px solid black;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black !important;
    background-color: #f1ffff;
    color: black;
    box-shadow: none !important;
    border-bottom: none;
}

.ranking-link-group a.active {
    font-weight: bolder;
}

.ranking-link-group a:first-of-type {
    border-left: 2px solid black;
}

.ranking-link-group a:last-of-type {
    border-right: 2px solid black;
}

.weakness-bg-text {
    padding: 8px 0;
    background-color: orangered;
    color: white;
}

.neutral-bg-text {
    padding: 8px 0;
    background-color: gray;
    color: white;
}

.resistance-bg-text {
    padding: 8px 0;
    background-color: green;
    color: white;
}

.moves-title {
    padding: 8px 0;
    background-color: #f1f1ff !important;
    color: #0571c2;
    border: 1px solid #b8d4da;
    font-weight: bolder;
    text-align: center;
}

.type-rank-list {
    max-height: 300px;
    overflow-y: auto;
}

.type-rank-item {
    padding: 8px 10px;
    border-radius: 5px;
    margin: 5px 10px;
    color: white;
}